.container{
  max-width: 1170px;
  margin: 0 auto;
}

.row [class*="col-"]{
  background-color: pink;
  border: 2px solid black;
}


/* FIVETH ROW */
.row [class*="col-"]>.row [class*="col-"]{
  background-color: rgb(227, 89, 59);
  border: 1px solid white;
}

.row [class*="col-"] .row{
  padding: 5px;
}


/* /FIVETH ROW */
